@mixin flex($justify-content, $align-items, $direction){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;
}

@mixin btn-touch{
    padding: 0.8rem 1rem;
    background-color:rgb(5, 130, 131) ;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    &:hover{
        background-color: rgb(0, 166, 166);
    }
}

@mixin btn-more{
    padding: 0.8rem 1rem;
    background-color:white ;
    color: rgb(5, 130, 131);
    border: 1px solid rgb(5, 130, 131);
    border-radius: 5px;
    font-size: 1rem;
    &:hover{
        background-color: rgb(0, 166, 166);
        color: white;
        border: none;
    }
}

@mixin btn-more-dark{
    padding: 0.8rem 1rem;
    background-color: rgb(17, 17, 23);
    color: white;
    border: 1px solid rgb(5, 130, 131);
    border-radius: 5px;
    font-size: 1rem;
    &:hover{
        background-color: rgb(0, 166, 166);
        color: white;
        border: none;
    }
}

@mixin title-green{
    background-color: rgba(5, 130, 131, 0.3);
    color:rgb(5, 130, 131) ;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
}

@mixin sub-title{
    color: rgb(0, 166, 166);
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

@mixin title{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(33, 51, 62);
    margin-bottom: 1.5rem;
}