@mixin flex($justify-content, $align-items, $direction){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;
}

@mixin btn-touch{
    padding: 0.5rem 1rem;
    background-color:rgb(5, 130, 131) ;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    &:hover{
        background-color: rgb(0, 166, 166);
        font-weight: bold;
    }
}