$bg-color-HTop: rgb(33, 51, 62);

$bg-color-footer: rgb(13, 13, 17);

$color-green:rgb(5, 130, 131);

$green-transl: rgba(5, 130, 131, 0.6);

$colorComp: rgb(17, 17, 23);

$green-drk:rgb(0, 166, 166) ;